<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <li ngbDropdown class="nav-item">
    <button href (click)="(false)" class="nav-link" ngbDropdownToggle>
      Home
    </button>
    <div ngbDropdownMenu></div>
  </li>
  <li ngbDropdown class="nav-item">
    <button
      id="projects-link"
      href
      (click)="(false)"
      class="nav-link"
      ngbDropdownToggle
    >
      Go to projects
    </button>
    <div ngbDropdownMenu>
      <form [formGroup]="projectsForm">
        <input
          type="text"
          formControlName="searchInput"
          placeholder="Search..."
          class="myProjects"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-optgroup
            *ngFor="let project of projects | async"
            [label]="project.name"
          >
            <mat-option
              *ngFor="let group of project.groups"
              [value]="group.name"
              [ngStyle]="{
                color: project.groups.length == 1 ? 'rgb(249 197 50)' : ''
              }"
              ><a [href]="group.url">{{ group.name }}</a>
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </form>
    </div>
  </li>
  <li ngbDropdown class="nav-item">
    <button href (click)="(false)" class="nav-link" ngbDropdownToggle>
      Products
    </button>
    <div ngbDropdownMenu></div>
  </li>
</ul>
